@using Microsoft.AspNetCore.Http
@using SonodaSoftware.Data
@using SonodaSoftware.Services
@{
    var user = Context?.Session.Get<User_UserBase>("UserLogin");
    SND_DBContext _UserContext = new SND_DBContext();
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>SonodaSoftware</title>

    <!-- Google Font: Source Sans Pro -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700&display=fallback">
    <!-- Font Awesome -->
    <link rel="stylesheet" href="~/plugins/fontawesome-free/css/all.min.css">
    <!-- Ionicons -->
    <link rel="stylesheet" href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">
    <!-- Tempusdominus Bootstrap 4 -->
    <link rel="stylesheet" href="~/plugins/tempusdominus-bootstrap-4/css/tempusdominus-bootstrap-4.min.css">
    <!-- iCheck -->
    <link rel="stylesheet" href="~/plugins/icheck-bootstrap/icheck-bootstrap.min.css">
    <!-- JQVMap -->
    <link rel="stylesheet" href="~/plugins/jqvmap/jqvmap.min.css">
    <!-- Theme style -->
    <link rel="stylesheet" href="~/dist/css/adminlte.min.css">
    <!-- overlayScrollbars -->
    <link rel="stylesheet" href="~/plugins/overlayScrollbars/css/OverlayScrollbars.min.css">
    <!-- Daterange picker -->
    <link rel="stylesheet" href="~/plugins/daterangepicker/daterangepicker.css">
    <!-- summernote -->
    <link rel="stylesheet" href="~/plugins/summernote/summernote-bs4.min.css">
    <link href="~/lib/datatables/datatables.css" rel="stylesheet" />
    <link href="~/lib/datatables/datatables.min.css" rel="stylesheet" />
    <link href="~/css/site.css" rel="stylesheet" />
</head>
<body class="hold-transition sidebar-mini layout-fixed" style="height: auto;margin-bottom: 0px;">
    <div class="wrapper" >

        <!-- Preloader -->
        <div class="preloader flex-column justify-content-center align-items-center">
            <img class="animation__shake" alt="AdminLTELogo" height="60" width="60">
        </div>

        <!-- Navbar -->
        <nav class="main-header navbar navbar-expand navbar-white navbar-light">
            <!-- Left navbar links -->
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" data-widget="pushmenu" href="#" role="button"><i class="fas fa-bars"></i></a>
                </li>
                <li class="nav-item d-none d-sm-inline-block">
                    <a asp-controller="Home" asp-action="Index" class="nav-link">Home</a>
                </li>
            </ul>
            <ul class="navbar-nav ml-auto">
                <li class="nav-item d-none d-sm-inline-block">
                    <a asp-controller="Home" asp-action="LogOut" class="nav-link">LogOut</a>
                </li>
            </ul>
            <!-- Right navbar links -->
            <ul class="navbar-nav ml-auto" hidden>
                <!-- Navbar Search -->
                <li class="nav-item">
                    <a class="nav-link" data-widget="navbar-search" href="#" role="button">
                        <i class="fas fa-search"></i>
                    </a>
                    <div class="navbar-search-block">
                        <form class="form-inline">
                            <div class="input-group input-group-sm">
                                <input class="form-control form-control-navbar" type="search" placeholder="Search" aria-label="Search">
                                <div class="input-group-append">
                                    <button class="btn btn-navbar" type="submit">
                                        <i class="fas fa-search"></i>
                                    </button>
                                    <button class="btn btn-navbar" type="button" data-widget="navbar-search">
                                        <i class="fas fa-times"></i>
                                    </button>
                                </div>
                            </div>
                        </form>
                    </div>
                </li>

                <!-- Messages Dropdown Menu -->
                <li class="nav-item dropdown">
                    <a class="nav-link" data-toggle="dropdown" href="#">
                        <i class="far fa-comments"></i>
                        <span class="badge badge-danger navbar-badge">3</span>
                    </a>
                    <div class="dropdown-menu dropdown-menu-lg dropdown-menu-right">
                        <a href="#" class="dropdown-item">
                            <!-- Message Start -->
                            <div class="media">
                                <img alt="User Avatar" class="img-size-50 mr-3 img-circle">
                                <div class="media-body">
                                    <h3 class="dropdown-item-title">
                                        Brad Diesel
                                        <span class="float-right text-sm text-danger"><i class="fas fa-star"></i></span>
                                    </h3>
                                    <p class="text-sm">Call me whenever you can...</p>
                                    <p class="text-sm text-muted"><i class="far fa-clock mr-1"></i> 4 Hours Ago</p>
                                </div>
                            </div>
                            <!-- Message End -->
                        </a>
                        <div class="dropdown-divider"></div>
                        <a href="#" class="dropdown-item">
                            <!-- Message Start -->
                            <div class="media">
                                <img alt="User Avatar" class="img-size-50 img-circle mr-3">
                                <div class="media-body">
                                    <h3 class="dropdown-item-title">
                                        John Pierce
                                        <span class="float-right text-sm text-muted"><i class="fas fa-star"></i></span>
                                    </h3>
                                    <p class="text-sm">I got your message bro</p>
                                    <p class="text-sm text-muted"><i class="far fa-clock mr-1"></i> 4 Hours Ago</p>
                                </div>
                            </div>
                            <!-- Message End -->
                        </a>
                        <div class="dropdown-divider"></div>
                        <a href="#" class="dropdown-item">
                            <!-- Message Start -->
                            <div class="media">
                                <img alt="User Avatar" class="img-size-50 img-circle mr-3">
                                <div class="media-body">
                                    <h3 class="dropdown-item-title">
                                        Nora Silvester
                                        <span class="float-right text-sm text-warning"><i class="fas fa-star"></i></span>
                                    </h3>
                                    <p class="text-sm">The subject goes here</p>
                                    <p class="text-sm text-muted"><i class="far fa-clock mr-1"></i> 4 Hours Ago</p>
                                </div>
                            </div>
                            <!-- Message End -->
                        </a>
                        <div class="dropdown-divider"></div>
                        <a href="#" class="dropdown-item dropdown-footer">See All Messages</a>
                    </div>
                </li>
                <!-- Notifications Dropdown Menu -->
                <li class="nav-item dropdown">
                    <a class="nav-link" data-toggle="dropdown" href="#">
                        <i class="far fa-bell"></i>
                        <span class="badge badge-warning navbar-badge">15</span>
                    </a>
                    <div class="dropdown-menu dropdown-menu-lg dropdown-menu-right">
                        <span class="dropdown-item dropdown-header">15 Notifications</span>
                        <div class="dropdown-divider"></div>
                        <a href="#" class="dropdown-item">
                            <i class="fas fa-envelope mr-2"></i> 4 new messages
                            <span class="float-right text-muted text-sm">3 mins</span>
                        </a>
                        <div class="dropdown-divider"></div>
                        <a href="#" class="dropdown-item">
                            <i class="fas fa-users mr-2"></i> 8 friend requests
                            <span class="float-right text-muted text-sm">12 hours</span>
                        </a>
                        <div class="dropdown-divider"></div>
                        <a href="#" class="dropdown-item">
                            <i class="fas fa-file mr-2"></i> 3 new reports
                            <span class="float-right text-muted text-sm">2 days</span>
                        </a>
                        <div class="dropdown-divider"></div>
                        <a href="#" class="dropdown-item dropdown-footer">See All Notifications</a>
                    </div>
                </li>
                <li class="nav-item">
                    <a class="nav-link" data-widget="fullscreen" href="#" role="button">
                        <i class="fas fa-expand-arrows-alt"></i>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" data-widget="control-sidebar" data-slide="true" href="#" role="button">
                        <i class="fas fa-th-large"></i>
                    </a>
                </li>
            </ul>
        </nav>
        <!-- /.navbar -->
        <!-- Main Sidebar Container -->
        @if (user != null)
        {
            <aside class="main-sidebar sidebar-dark-primary elevation-4">
                <!-- Brand Logo -->
                <a asp-controller="Home" asp-action="Index" class="brand-link text-center mt-2">
                    <div class="d-flex justify-content-center">
                        <img src="~/img/sonoda1_png.png" class="brand-image elevation-3 bg-white" style="opacity: .8;" /><br />
                        @* <img src="dist/img/AdminLTELogo.png" alt="AdminLTE Logo" class="brand-image img-circle elevation-3" style="opacity: .8"> *@
                    </div>
                    <label>Sonoda Management</label>
                </a>

                <!-- Sidebar -->
                <div class="sidebar">
                    <!-- Sidebar user panel (optional) -->
                    <div class="user-panel mt-3 pb-3 mb-3 d-flex">
                        <div class="info">
                            <a href="#" class="d-block">@user.FirstName_ENG @user.LastName_ENG</a>
                        </div>
                    </div>

                    @* <!-- SidebarSearch Form -->
                <div class="form-inline">
                <div class="input-group" data-widget="sidebar-search">
                <input class="form-control form-control-sidebar" type="search" placeholder="Search" aria-label="Search">
                <div class="input-group-append">
                <button class="btn btn-sidebar">
                <i class="fas fa-search fa-fw"></i>
                </button>
                </div>
                </div>
                </div> *@

                    <!-- Sidebar Menu -->
                    <nav class="mt-2">
                        <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
                            <!-- Add icons to the links using the .nav-icon class
                                 with font-awesome or any other icon font library -->
                            @{
                                var stock = _UserContext.User_Accesses.Where(x => x.IDUser == user.BarCode).FirstOrDefault()?.Store;
                                <li class="nav-item  @ViewData["openStore"]">
                                    <a href="#" class="nav-link  @ViewData["activestore"]">
                                        <i class="nav-icon fas fa-solid fa-store"></i>
                                        <p>
                                            Store Management
                                            <i class="right fas fa-angle-left"></i>
                                        </p>
                                    </a>
                                    <ul class="nav nav-treeview">
                                        @if (stock.Contains("Approve"))
                                        {
                                            <li class="nav-item">
                                                <a asp-controller="Store" asp-action="Approve" class="nav-link @ViewData["activeApprove"]">
                                                    <i class="far fa-circle nav-icon"></i>
                                                    <p>Approve</p>
                                                </a>
                                            </li>
                                        }
                                        @if (stock.Contains("Store_Management"))
                                        {
                                            <li class="nav-item">
                                                <a asp-controller="Store" asp-action="Receive" class="nav-link @ViewData["activeReceive"]">
                                                    <i class="far fa-circle nav-icon"></i>
                                                    <p>Receive</p>
                                                </a>
                                            </li>
                                        }
                                        @if (stock.Contains("Pick_Up"))
                                        {
                                            <li class="nav-item">
                                                <a asp-controller="Store" asp-action="PickUp" class="nav-link @ViewData["activepickup"]">
                                                    <i class="far fa-circle nav-icon"></i>
                                                    <p>Pick Up</p>
                                                </a>
                                            </li>
                                        }
                                        @if (stock.Contains("Report"))
                                        {
                                            <li class="nav-item">
                                                <a asp-controller="Store" asp-action="ReportPage" class="nav-link @ViewData["activeReport"]">
                                                    <i class="far fa-circle nav-icon"></i>
                                                    <p>Report</p>
                                                </a>
                                            </li>
                                        }
                                        @if (stock.Contains("Part_Search"))
                                        {
                                            <li class="nav-item">
                                                <a asp-controller="Store" asp-action="PartSearch" class="nav-link @ViewData["activepartseach"]">
                                                    <i class="far fa-circle nav-icon"></i>
                                                    <p>Part</p>
                                                </a>
                                            </li>
                                        }


                                        @if (stock.Contains("Supplier_System"))
                                        {
                                            <li class="nav-item">
                                                <a asp-controller="Store" asp-action="Supplier" class="nav-link @ViewData["activeSuuplier"]">
                                                    <i class="far fa-circle nav-icon"></i>
                                                    <p>Supplier</p>
                                                </a>
                                            </li>
                                        }


                                    </ul>
                                </li>
                                if (stock.Contains("JobManagement"))
                                {
                                    <li class="nav-item @ViewData["openJob"]">
                                        <a href="#" class="nav-link @ViewData["activeJobmanage"]">
                                            <i class="nav-icon fas <i fa-solid fa-user"></i>
                                            <p>
                                                Job Management
                                                <i class="right fas fa-angle-left"></i>
                                            </p>
                                        </a>
                                        <ul class="nav nav-treeview">
                                            <li class="nav-item">
                                                <a asp-controller="Job" asp-action="Recieve" class="nav-link @ViewData["activeRecieveJob"]">
                                                    <i class="far fa-circle nav-icon"></i>
                                                    <p>Recieve</p>
                                                </a>
                                            </li>
                                            <li class="nav-item">
                                                <a asp-controller="Job" asp-action="PartSearch" class="nav-link @ViewData["activePartsearchJob"]">
                                                    <i class="far fa-circle nav-icon"></i>
                                                    <p>Part search</p>
                                                </a>
                                            </li>
                                            <li class="nav-item">
                                                <a asp-controller="Job" asp-action="Pickup" class="nav-link @ViewData["activePickupJob"]">
                                                    <i class="far fa-circle nav-icon"></i>
                                                    <p>Pick up</p>
                                                </a>
                                            </li>
                                            <li class="nav-item">
                                                <a asp-controller="Job" asp-action="Report" class="nav-link @ViewData["activeReportJob"]">
                                                    <i class="far fa-circle nav-icon"></i>
                                                    <p>Report</p>
                                                </a>
                                            </li>
                                        </ul>
                                    </li>
                                }
                            }
                            @{
                                var Tool = _UserContext.User_Accesses.Where(x => x.IDUser == user.BarCode).FirstOrDefault()?.Tool;
                                <li class="nav-item  @ViewData["openTool"]">
                                    <a href="#" class="nav-link @ViewData["activeTool"]">
                                        <i class="nav-icon fas fa-solid fa-toolbox"></i>
                                        <p>
                                            Tool Inventory
                                            <i class="fas fa-angle-left right"></i>
                                        </p>
                                    </a>
                                    <ul class="nav nav-treeview">
                                        <li class="nav-item">
                                            <a asp-controller="Tool" asp-action="Index" class="nav-link @ViewData["activeviewtool"]">
                                                <i class="far fa-circle nav-icon"></i>
                                                <p>Borrow</p>
                                            </a>
                                        </li>
                                        @if (Tool.Contains("Borrow"))
                                        {
                                            <li class="nav-item" hidden>
                                                <a asp-controller="Tool" asp-action="Borrow" class="nav-link @ViewData["activeBorrow"]">
                                                    <i class="far fa-circle nav-icon"></i>
                                                    <p>Borrow</p>
                                                </a>
                                            </li>
                                        }
                                        @if (Tool.Contains("Return"))
                                        {
                                            <li class="nav-item">
                                                <a asp-controller="Tool" asp-action="Return" class="nav-link @ViewData["activeReturn"]">
                                                    <i class="far fa-circle nav-icon"></i>
                                                    <p>Return</p>
                                                </a>
                                            </li>
                                        }
                                        @if (Tool.Contains("History"))
                                        {
                                            <li class="nav-item">
                                                <a asp-controller="Tool" asp-action="History" class="nav-link @ViewData["activehistory"]">
                                                    <i class="far fa-circle nav-icon"></i>
                                                    <p>Report</p>
                                                </a>
                                            </li>
                                        }
                                        else
                                        {
                                            <li class="nav-item">
                                                <a asp-controller="Tool" asp-action="ViewToolBorrow" class="nav-link @ViewData["activeBorrow"]">
                                                    <i class="far fa-circle nav-icon"></i>
                                                    <p>History</p>
                                                </a>
                                            </li>
                                        }
                                        @if (Tool.Contains("EditTool"))
                                        {
                                            <li class="nav-item">
                                                <a asp-controller="Tool" asp-action="EditTool" class="nav-link @ViewData["activeEditTool"]">
                                                    <i class="far fa-circle nav-icon"></i>
                                                    <p>EditTool</p>
                                                </a>
                                            </li>
                                        }
                                        @if (Tool.Contains("Approve"))
                                        {
                                            <li class="nav-item" hidden>
                                                <a asp-controller="Tool" asp-action="Approve" class="nav-link @ViewData["activeApprove"]">
                                                    <i class="far fa-circle nav-icon"></i>
                                                    <p>Approve</p>
                                                </a>
                                            </li>
                                            <li class="nav-item">
                                                <a asp-controller="Tool" asp-action="ViewToolBorrow" class="nav-link @ViewData["activeViewToolBorrow"]">
                                                    <i class="far fa-circle nav-icon"></i>
                                                    <p>History</p>
                                                </a>
                                            </li>

                                        }
                                    </ul>
                                </li>
                            }

                            @{
                                var UserManage = _UserContext.User_Accesses.Where(x => x.IDUser == user.BarCode).FirstOrDefault()?.UserManage;
                                <li class="nav-item @ViewData["openUser"]">
                                    <a href="#" class="nav-link @ViewData["activeUsermanage"]">
                                        <i class="nav-icon fas <i fa-solid fa-user"></i>
                                        <p>
                                            User Management
                                            <i class="right fas fa-angle-left"></i>
                                        </p>
                                    </a>
                                    <ul class="nav nav-treeview">
                                        @if (UserManage.Contains("ViewUser"))
                                        {
                                            <li class="nav-item">
                                                <a asp-controller="SNDUser" asp-action="AllUser" class="nav-link @ViewData["activeViewUser"]">
                                                    <i class="far fa-circle nav-icon"></i>
                                                    <p>View User</p>
                                                </a>
                                            </li>
                                        }
                                        @if (UserManage.Contains("EditUser"))
                                        {
                                            <li class="nav-item">
                                                <a asp-controller="SNDUser" asp-action="ADDUser" class="nav-link @ViewData["activeEditUser"]">
                                                    <i class="far fa-circle nav-icon"></i>
                                                    <p>ADDUser</p>
                                                </a>
                                            </li>
                                        }
                                        @if (UserManage.Contains("SND_Organize"))
                                        {
                                            <li class="nav-item">
                                                <a asp-controller="SNDUser" asp-action="EditOrganize" class="nav-link @ViewData["activeEditOrganize"]">
                                                    <i class="far fa-circle nav-icon"></i>
                                                    <p>EditOrganize</p>
                                                </a>
                                            </li>
                                        }
                                    </ul>
                                </li>
                            }

                        </ul>
                    </nav>
                    <!-- /.sidebar-menu -->
                </div>
                <!-- /.sidebar -->
            </aside>
        }

        <!-- Content Wrapper. Contains page content -->
        <div class="content-wrapper">
            <!-- Content Header (Page header) -->
            @* <div class="content-header">
            <div class="container-fluid">
            <div class="row mb-2">
            <div class="col-sm-6">
            <h1 class="m-0">Dashboard</h1>
            </div><!-- /.col -->
            <div class="col-sm-6">
            <ol class="breadcrumb float-sm-right">
            <li class="breadcrumb-item"><a href="#">Home</a></li>
            <li class="breadcrumb-item active">Dashboard v1</li>
            </ol>
            </div><!-- /.col -->
            </div><!-- /.row -->
            </div><!-- /.container-fluid -->
            </div> *@
            <!-- /.content-header -->
            <!-- Main content -->
            <section class="content">
                <div class="container-fluid">
                    @RenderBody()
                </div><!-- /.container-fluid -->
            </section>
            <!-- /.content -->
        </div>
        <!-- /.content-wrapper -->
        <footer class="main-footer">
            <strong>Copyright &copy;2025 <a href="https://sites.google.com/sonoda.co.th/sndth/Home">Sonoda(Thailand).Co,LTD</a>.</strong>
            All rights reserved.
            <div class="float-right d-none d-sm-inline-block">
                <b>Version</b> 3.1.0
            </div>
        </footer>

        <!-- Control Sidebar -->
        <aside class="control-sidebar control-sidebar-dark">
            <!-- Control sidebar content goes here -->
        </aside>
        <!-- /.control-sidebar -->
    </div>
    <!-- ./wrapper -->
    <!-- jQuery -->
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="~/lib/datatables/datatables.js"></script>
    <script src="~/lib/datatables/datatables.min.js"></script>
    <!-- daterangepicker -->
    <script src="~/plugins/moment/moment.min.js"></script>
    <script src="~/plugins/daterangepicker/daterangepicker.js"></script>
    <!-- Tempusdominus Bootstrap 4 -->
    <script src="~/plugins/tempusdominus-bootstrap-4/js/tempusdominus-bootstrap-4.min.js"></script>
    <!-- Summernote -->
    <script src="~/plugins/summernote/summernote-bs4.min.js"></script>
    <!-- overlayScrollbars -->
    <script src="~/plugins/overlayScrollbars/js/jquery.overlayScrollbars.min.js"></script>
    <!-- AdminLTE App -->
    <script src="~/dist/js/adminlte.js"></script>
    <!-- AdminLTE for demo purposes -->
    <script src="~/dist/js/demo.js"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
